<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Créer une BD</title>
</head>
<body>
<h2>Ajouter une BD</h2>
<form method="post" th:action="@{/createBD}">
	<div>
		<label for="titre">Titre : </label> <input type="text" id="titre" name="titre">
	</div>
    <div>
		<label for="serie">Série : </label> <input type="text" id="serie" name="serie">
	</div>
	<div>
		<label for="idBiblio">Id Bibliothèque : </label> <input type="text" id="idBiblio" name="idBiblio">
	</div>
    <button type="submit">Créer</button>
</form>
</body>
</html>