<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>Auteur Web Application</title>
        <style>
        	table, th, td {
			  border: 1px solid black;
			}
        </style>
    </head>
    <body>
        <h2 class="h2">Liste des auteurs</h2>
        <table>
            <thead>
                <tr>
                	<th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Bibliothèque</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${auteurs.empty}">
                    <td colspan="6">Aucun auteur en base de données</td>
                </tr>
                <tr th:each="auteur: ${auteurs}">
                    <td><span th:text="${auteur.id}"> Id </span></td>
                    <td><span th:text="${auteur.prenom}"> Prénom </span></td>
                    <td><span th:text="${auteur.nom}"> Nom </span></td>
                    <td><span th:text="${auteur.laBibliotheque}"> Bibliothèque </span></td>
                    <td><a th:href="@{/modifierAuteur(id=${auteur.id})}">Modifier</a></td>
                    <td><a th:href="@{/deleteAuteur(id=${auteur.id})}">Supprimer</a></td>
                </tr>
            </tbody>
        </table>
        
        <br>
        <a th:href="@{/menu_auteur}">Menu auteur</a> | <a th:href="@{/addAuteur}">Ajouter un auteur</a>
        
    </body>
</html>