<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Accueil</title>
</head>
<body>
<h2>Menu principal</h2>
<ul>
	<li><a th:href="@{/menu_lecteur}">Menu lecteur</a></li>
	<li><a th:href="@{/menu_auteur}">Menu auteur</a></li>
	<li><a th:href="@{/menu_livre}">Menu livre</a></li>
</ul>
<br>
<h3>Instructions</h3>
<p>Les menus respectifs contiennent les CRUD pour chacun des objets. </p>
<p>Tous les menus sont accessibles sans login.</p>
<p>Pour les fonctionnalités de CRUD, la page de login s'ouvrira.</p>
<p>Une fois identifié en admin, toutes les pages sont accessibles, et la page /admin/panel devient accessible.</p>
<p>Il faut utiliser /logout pour se déconencter.</p>
<p>Une fois identifié en tant que user, toutes les pages seront accessibles à l'exception de /admin/panel qui ne sera pas accessible.</p>	
</body>
</html>