<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Modifier un auteur</title>
</head>
<body>
<div>
<form method="post" th:action="@{/updateAuteur/{path}(path=${auteur.id})}">
	<div>
		<label for="prenom">Prénom : </label> <input type="text" th:value="${auteur.prenom}" id="prenom" name="prenom">
	</div>
    <div>
		<label for="nom">Nom : </label> <input type="text" th:value="${auteur.nom}" id="nom" name="nom">
	</div>
	<div>
		<label for="idBiblio">Id Bibliothèque : </label> <input type="text" th:value="${auteur.laBibliotheque.id}" id="idBiblio" name="idBiblio">
	</div>
    <button type="submit">Modifier</button>
</form>

</div>
</body>
</html>